{% extends 'make-our-planet-great-again/base.html' %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Liste des projets </h1>
    </div>

    <!-- Content Row -->
    <div class="row">

       <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Note Moyenne</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <th scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">1</label>
                                </div>
                            </th>
                            <td>Bootstrap 4 CDN and Starter Template</td>
                            <td>3,5</td>
                            <td>
                                <a href="viewFinProject" class="btn btn-primary" role="button" aria-disabled="true"><i class="far fa-eye"></i></a>
                                <a href="updateFinProject" class="btn btn-danger" role="button" aria-disabled="true"><i class="far fa-edit"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">2</label>
                                </div>
                            </th>
                            <td>Bootstrap Grid 4 Tutorial and Examples</td>
                            <td>1.6</td>
                            <td>
                                <a href="viewFinProject" class="btn btn-primary" role="button" aria-disabled="true"><i class="far fa-eye"></i></a>
                                <a href="updateFinProject" class="btn btn-danger" role="button" aria-disabled="true"><i class="far fa-edit"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">3</label>
                                </div>
                            </th>
                            <td>Bootstrap Flexbox Tutorial and Examples</td>
                            <td>3.2</td>
                            <td>
                                <a href="viewFinProject" class="btn btn-primary" role="button" aria-disabled="true"><i class="far fa-eye"></i></a>
                                <a href="updateFinProject" class="btn btn-danger" role="button" aria-disabled="true"><i class="far fa-edit"></i></a>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}