{% extends 'make-our-planet-great-again/base.html' %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Financer le projet XXX</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-6">
           <form class="user">

                <div class="form-group row">
                    <input type="number" min="0" class="form-control"
                            id="exampleInputPassword" placeholder="Montant">
                </div>

                <div class="form-group row">
                    <textarea class="form-control" placeholder="Remarque"></textarea>
                </div>

                <div class="form-group row">
                    <a href="login.html" class="btn btn-primary btn-block">
                        Financer le projet
                    </a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}