{% extends 'make-our-planet-great-again/base.html' %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Consulter le projet XXX</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-6">
           <form class="user">
                <div class="form-group row">
                    <h2>Nom :</h2>
                </div>

                <div class="form-group row">
                    <h2>Idée :</h2>
                </div>

                <div class="form-group row">
                    <h2>Description :</h2>
                </div>

                <div class="form-group row">
                    <h2>Palan :</h2>
                </div>

                <div class="form-group row">
                    <h2>Budget :</h2>
                </div>

                <div class="form-group row">
                    <h2>Domaine d'application :</h2>
                </div>
            </form>
        </div>

    </div>
{% endblock %}