{% load static %}

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" value="fr" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'make-our-planet-great-again/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'make-our-planet-great-again/vendor/bootstrap/css/bootstrap-grid.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'make-our-planet-great-again/vendor/bootstrap/css/bootstrap-reboot.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'make-our-planet-great-again/vendor/fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'make-our-planet-great-again/css/make-our-planet-great-again.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" type="text/css" media="screen">

    <script src="{% static 'make-our-planet-great-again/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'make-our-planet-great-again/vendor/jquery/jquery.slim.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'make-our-planet-great-again/vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'make-our-planet-great-again/vendor/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'make-our-planet-great-again/js/make-our-planet-great-again.js' %}" type="text/javascript"></script>
</head>