        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/project_holder">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Porteur</div>
            </a>



            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="addProject">
                        <i class="fas fa-fw fa-folder"></i>
                        Créer un projet
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="actionsPorteur">
                        <i class="fas fa-fw fa-folder"></i>
                        Actions
                    </a>
                </li>   


                <!-- Divider -->
                <hr class="sidebar-divider">               

                <li class="nav-item">
                    <a class="nav-link active" href="/contact">
                        <i class="fas fa-fw fa-folder"></i>
                        Contact
                    </a>
                </li>                   

                <li class="nav-item">
                    <a class="nav-link active" href="/mention_legales">
                        <i class="fas fa-fw fa-folder"></i>
                        Mention légales
                    </a>
                </li>              
            </ul>
           

        </ul>