{% extends 'make-our-planet-great-again/base.html' %}

{% block content %}
<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Liste des projets </h1>
    </div>

    <!-- Content Row -->
    <div class="row">

       <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Bootstrap 4 CDN and Starter Template</td>
                            <td>Cristina</td>
                            <td>
                                <!-- <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button> -->
                                <a href="viewPortProject" class="btn btn-primary" role="button" aria-disabled="true"><i class="far fa-eye"></i></a>
                                <a href="updatePortProject" class="btn btn-success" role="button" aria-disabled="true"><i class="far fa-edit"></i></a>
                                <a href="deletePortProject" class="btn btn-danger" role="button" aria-disabled="true"><i class="far fa-trash-alt"></i></a>
                                <!-- <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button> -->
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Bootstrap Grid 4 Tutorial and Examples</td>
                            <td>Cristina</td>
                            <td>
                                <a href="viewPortProject" class="btn btn-primary" role="button" aria-disabled="true"><i class="far fa-eye"></i></a>
                                <a href="updatePortProject" class="btn btn-success" role="button" aria-disabled="true"><i class="far fa-edit"></i></a>
                                <a href="deletePortProject" class="btn btn-danger" role="button" aria-disabled="true"><i class="far fa-trash-alt"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Bootstrap Flexbox Tutorial and Examples</td>
                            <td>Cristina</td>
                            <td>
                                <a href="viewPortProject" class="btn btn-primary" role="button" aria-disabled="true"><i class="far fa-eye"></i></a>
                                <a href="updatePortProject" class="btn btn-success" role="button" aria-disabled="true"><i class="far fa-edit"></i></a>
                                <a href="deletePortProject" class="btn btn-danger" role="button" aria-disabled="true"><i class="far fa-trash-alt"></i></a>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}